@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <div class="col-sm-2 boxar">
        <div class="row"><img src="~/images/circlediagram.png" /></div>
        <div class="row"></div>
        <div class="row"></div>

        <div class="vertical-menu">
            <a href="#"><img src="~/images/dashboardicon.png" /> Dashboard</a>
            <a href="#"><img src="~/images/sparadeatgardericon.png" /> Sparade atgarder</a>
            <a href="#"><img src="~/images/slidesicon.png" /> Slides</a>
            <a href="#"><img src="~/images/aktivaatgarder.png" /> Aktiva atgarder</a>
            <a href="#"><img src="~/images/medarbetareicon.png" /> Medarbetare</a>
            <a href="#"><img src="~/images/atgardsplanicon.png" /> Atgardsplan</a>
        </div>


    </div>
    <div class="col-sm-8">
        <div class="row"><h1>Dashboard</h1></div>
        <div class="data boxar">
            <div class="col-sm-3">
                <div class="row">Total forbrukning kWh</div>
                <div class="row"><h3>120,495</h3></div>
            </div>
            <div class="col-sm-3">
                <div class="row">Onskad forbrukning</div>
                <div class="row"><h3>87,987</h3></div>
            </div>
            <div class="col-sm-3">
                <div class="row">Total differens</div>
                <div class="row"><h3>-57,09</h3></div>
            </div>
            <div class="col-sm-3">
                <div class="row">Totala atgardspoang</div>
                <div class="row"><h3>0197/1000</h3></div>
            </div>
        </div>
        <div class="boxar">
            <div class="data">
                <div><img src="~/images/diagram.png" width="100%" /></div>
                <div>
                    <div>
                        <div><h3>120,495</h3></div>
                        <div><img src="~/images/faktiskforbrukning.png" width="100%" /></div>
                    </div>
                    <div></div>
                    <div>
                        <div><h3>87,987</h3></div>
                        <div><img src="~/images/onskadforbrukning.png" width="100%" /></div>
                    </div>

                    <div>
                        <div><h3>-57,09</h3></div>
                        <div><img src="~/images/differens.png" width="100%" /></div>
                    </div>
                    <div><button type="button" class="btn btn-primary">Hide Actions</button></div>
                </div>
            </div>
            <div class="actionbox">
                <div class="row">
                    <div class="col-sm-7">Atgard-1</div>
                    <div class="col-sm-1">88</div>
                    <div class="col-sm-1">59</div>
                    <div class="col-sm-1">*</div>
                    <div class="col-sm-1">[]</div>
                    <div class="col-sm-1">O</div>
                </div>
            </div>
            <div class="actionbox">
                <div class="row">
                    <div class="col-sm-7">Atgard-2</div>
                    <div class="col-sm-1">88</div>
                    <div class="col-sm-1">59</div>
                    <div class="col-sm-1">*</div>
                    <div class="col-sm-1">[]</div>
                    <div class="col-sm-1">O</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="row boxar">
            <div class="row boxtext">Atgarder for</div>
            <div class="row boxtext"><img src="~/images/addAction.png" width="90%" /></div>
            <div class="row boxtext"> Aktiva atgarder</div>
        </div>
        <div class="row"></div>
        <div class="row boxar">
            <div class="row boxtext">Atgardspoang</div>
            <div class="row boxtext"><img src="~/images/atgardspoang.png" width="90%" /></div>
            <div class="row boxtext">Aktiva atgarder</div>
        </div>
        <div class="row"></div>
        <div class="row boxar">
            <div class="row boxtext">Dygnsforbrukning</div>
            <div class="row boxtext"><img src="~/images/dygnsforbrukning.png" width="90%" /></div>
            <div class="row boxtext">Aktiva atgarder</div>
        </div>
    </div>
</div>
